-- =============================================================================
-- Phase GL-4 ΓÇö Seed canonical public GEOlibrary content
--
-- Source: geoverze-public-main/src/features/library/data/{creators,articles,collections}.ts
-- Generated by: supabase/scripts/generate_gl4_seed.ts
--
-- Idempotent: ON CONFLICT DO NOTHING guards on all inserts.
-- Requires: 20260901120000_phase_gl1_library_foundation.sql
-- =============================================================================

-- Creators (featured_collection_slug deferred until collections exist)
insert into public.library_creators (handle, display_name, role, bio, art_key, verified, location, joined_at, featured_collection_slug, user_id)
values ('atlas-studio', 'Atlas Studio', 'Cartography collective', 'A three-person studio drawing bronze relief plates and writing the notes that go with them. Obsessed with borders, coastlines and the stories behind survey lines.', 'creator-atlas-studio', true, 'Lisbon, Portugal', '2024-03-11', null, null)
on conflict (handle) do nothing;

insert into public.library_creators (handle, display_name, role, bio, art_key, verified, location, joined_at, featured_collection_slug, user_id)
values ('meridian', 'Meridian', 'Physical geographer', 'Writes about mountains, plates and the slow machinery of the planet. Former field surveyor, current explainer of things that take a million years.', 'creator-meridian', true, 'Innsbruck, Austria', '2024-06-02', null, null)
on conflict (handle) do nothing;

insert into public.library_creators (handle, display_name, role, bio, art_key, verified, location, joined_at, featured_collection_slug, user_id)
values ('delta-notes', 'Delta Notes', 'Hydrology writer', 'Rivers, deltas, basins and the politics of water. If it flows downhill, there is probably an article about it here.', 'creator-delta-notes', false, 'Dhaka, Bangladesh', '2025-01-19', null, null)
on conflict (handle) do nothing;



-- Collections
insert into public.library_collections (id, slug, title, description, art_key, subject_category, continent, curator_handle, featured, status, published_at)
values ('23548ce8-24c5-4a06-af38-1db629780058', 'countries-of-europe', 'Countries of Europe', 'Forty-four states, their capitals, borders and the treaties that drew them. Start with the microstates and work outward.', 'collection-countries-of-europe', 'countries', 'europe', 'atlas-studio', true, 'published', now())
on conflict (slug) do nothing;

insert into public.library_collections (id, slug, title, description, art_key, subject_category, continent, curator_handle, featured, status, published_at)
values ('1f407c90-95df-406c-abac-31a0aa32ed19', 'world-capitals', 'World Capitals', 'Seats of government, why they sit where they do, and the handful of countries that could not settle on one.', 'collection-world-capitals', 'capitals', 'global', 'atlas-studio', true, 'published', now())
on conflict (slug) do nothing;

insert into public.library_collections (id, slug, title, description, art_key, subject_category, continent, curator_handle, featured, status, published_at)
values ('46e4447e-f552-491e-adf9-820030ad0569', 'great-rivers', 'Great Rivers', 'Basins, discharge, deltas and disputes. The systems that decide where civilisations sit.', 'collection-great-rivers', 'oceans', 'global', 'delta-notes', true, 'published', now())
on conflict (slug) do nothing;






-- Creator featured collections (after collection slugs exist)
update public.library_creators set featured_collection_slug = 'countries-of-europe' where handle = 'atlas-studio' and featured_collection_slug is distinct from 'countries-of-europe';
update public.library_creators set featured_collection_slug = 'mountain-ranges' where handle = 'meridian' and featured_collection_slug is distinct from 'mountain-ranges';
update public.library_creators set featured_collection_slug = 'great-rivers' where handle = 'delta-notes' and featured_collection_slug is distinct from 'great-rivers';
update public.library_creators set featured_collection_slug = 'geography-basics' where handle = 'terra-lingua' and featured_collection_slug is distinct from 'geography-basics';
update public.library_creators set featured_collection_slug = 'unesco-heritage' where handle = 'heritage-desk' and featured_collection_slug is distinct from 'unesco-heritage';

-- Resources














-- Resource blocks
insert into public.library_resource_blocks (id, resource_id, position, kind, payload)
values ('807eacc4-731c-4575-a5a1-202101320024', '50bd1167-a678-4775-a465-01676c970de1', 0, 'paragraph', '{"text":"A capital is a job description, not a single city. Somewhere has to host the legislature, somewhere the executive, somewhere the highest court ΓÇö and nothing in international law says those places must share a postcode."}'::jsonb)
on conflict (resource_id, position) do nothing;
insert into public.library_resource_blocks (id, resource_id, position, kind, payload)
values ('2b44be8e-4e38-429d-a849-808b04ebda75', '50bd1167-a678-4775-a465-01676c970de1', 1, 'heading', '{"id":"the-split","text":"The three-way split"}'::jsonb)
on conflict (resource_id, position) do nothing;
insert into public.library_resource_blocks (id, resource_id, position, kind, payload)
values ('6d21921b-4849-4a2a-ab17-fecf7fbb2186', '50bd1167-a678-4775-a465-01676c970de1', 2, 'paragraph', '{"text":"South Africa is the textbook case. Pretoria holds the executive, Cape Town the parliament and Bloemfontein the judiciary. The arrangement was a compromise at union in 1910, and it survived because moving any branch would cost a province its status."}'::jsonb)
on conflict (resource_id, position) do nothing;














-- Collection items
insert into public.library_collection_items (collection_id, resource_id, position)
values ('23548ce8-24c5-4a06-af38-1db629780058', '66cc187f-e761-47c7-a671-6d9889663ddd', 0)
on conflict (collection_id, resource_id) do nothing;
insert into public.library_collection_items (collection_id, resource_id, position)
values ('23548ce8-24c5-4a06-af38-1db629780058', '3bb6a8ad-0560-43de-a9f1-81969c0a4c6c', 1)
on conflict (collection_id, resource_id) do nothing;
insert into public.library_collection_items (collection_id, resource_id, position)
values ('23548ce8-24c5-4a06-af38-1db629780058', '684b559f-5a9b-4469-ad23-e14dd3b2761a', 2)
on conflict (collection_id, resource_id) do nothing;








-- Verification counts
do $$
declare
  c_creators int;
  c_resources int;
  c_blocks int;
  c_collections int;
  c_items int;
begin
  select count(*) into c_creators from public.library_creators;
  select count(*) into c_resources from public.library_resources;
  select count(*) into c_blocks from public.library_resource_blocks;
  select count(*) into c_collections from public.library_collections;
  select count(*) into c_items from public.library_collection_items;
  if c_creators < 5 then raise exception 'GL-4 seed: expected >= 5 creators, got %', c_creators; end if;
  if c_resources < 14 then raise exception 'GL-4 seed: expected >= 14 resources, got %', c_resources; end if;
  if c_collections < 8 then raise exception 'GL-4 seed: expected >= 8 collections, got %', c_collections; end if;
  if c_blocks < 50 then raise exception 'GL-4 seed: expected >= 50 blocks, got %', c_blocks; end if;
  if c_items < 10 then raise exception 'GL-4 seed: expected >= 10 collection items, got %', c_items; end if;
  raise notice 'GL-4 seed OK: creators=%, resources=%, blocks=%, collections=%, items=%', c_creators, c_resources, c_blocks, c_collections, c_items;
end $$;
